
.backgroundabout1 {
  background-image: url('https://html.geekcodelab.com/holiday-planners/assets/images/about-banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35rem;
  z-index: 8888;
}

.contenttour1 {
  padding-top: 20rem;
}

.contetour2 {
  font-size: 4rem;
  margin-left: 30rem;
}


@media (max-width: 768px) {
  .backgroundabout1 {
    height: 20rem; 
  }

  .contenttour1 {
    padding-top: 10rem;
  }

  .contetour2 {
    font-size: 2rem; 
    margin-left: 10rem; 
  }
}
