

:root {
  --yellow-color: #c29d59;
  --dark-color: #2b2b2b;
  --white-light-color: #f6f6f6;
  --white-color: #ffffff;
  --black-color: #000000;
  --box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  --transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rowcontact {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
}

/* .two-col {
  display: flex;
  align-items: center;
} */

.col12contact,
.col8contact,
.col7contact,
.col5contact,
.col4contact {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* .col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
} */

/* .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
} */

.col4contact {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  -ms-flex: 0 0 33.333333%;
}

.col5contact {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

/* .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
} */

.col7contact {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col8contact {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

/* .col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
} */

.col12contact {
  flex: 0 0 100%;
  max-width: 100%;
}


/*=========BANNER FORM==============*/
/* section.banner-form {
  width: 90%;
  margin-top: -50px;
  box-shadow: var(--box-shadow);
} */

/* .banner-form {
  background: var(--white-color);
  padding: 25px 30px;
  position: relative;
  margin: 0 auto;
  margin-top: -50px;
  border-left: 3px solid var(--yellow-color);
  border-right: 3px solid var(--yellow-color);
} */

/* form.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.forminputcontact {
  width: 100%;
  height: 50px;
  background: transparent;
  padding: 10px 45px;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  color: var(--dark-color);
  font-size: 16px;
  line-height: 26px;
}

.forminputcontact::placeholder {
  color: var(--dark-color);
}

.inputboxcontact {
  position: relative;
  width: 100%;
  display: block;
}

.inputboxcontact .icon {
  position: absolute;
  top: 13px;
  left: 15px;
  font-size: 20px;
  color: var(--yellow-color);
}

.inputboxcontact .arrow {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 20px;
  color: var(--dark-color);
  pointer-events: none;
}

/* .banner-form form .banner-form-input {
  max-width: 27.545%;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 27.545%;
}

.banner-form form .banner-form-input.formbtncontact {
  max-width: 17.365%;
  flex: 0 0 17.365%;
}

.banner-form form .banner-form-input.formbtncontact .btn {
  width: 100%;
} */


/*========CONTACT PAGE=========*/

.contactherocontact{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bannercontentcontact {
  text-align: center;
}

.contactherocontact .containercontact .bannercontentcontact .h1titlecontact {
  padding: 40px 0 0 0;
  text-shadow: 0 0 6px var(--dark-color);
  transition: 1s;
}

.leftsidecontact {
  padding-top: 70px;
}

.contactformcontact .inputboxcontact {
  margin-bottom: 30px;
}

/* form {
  display: block;
} */

textarea.forminputcontact {
  resize: none;
  height: 120px;
  display: block;
}

.rightsidecontact {
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

.widgetcontact .linetitlecontact .h4titlecontact {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark-color);
}

.widgetcontact {
  position: relative;
  padding: 40px;
  background: var(--white-color);
  box-shadow: var(--box-shadow);
  margin-bottom: 40px;
}

.widgetcontact:last-child {
  margin-bottom: 0;
}

.widgetcontact .linetitlecontact {
  margin-bottom: 20px;
}

/* 
.why-book-with-us .bookwithlistcontact li {
  position: relative;
  color: rgb(43 43 43 / 0.6);
  margin-bottom: 5px;
}

.why-book-with-us .bookwithlistcontact li:last-child {
  margin-bottom: 0;
} */

.gaq::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--yellow-color);
  opacity: 0.9;
  z-index: 1;
}

.gaq * {
  position: relative;
  z-index: 2;
}

.gaq .linetitlecontact {
  border-color: var(--dark-color);
}

.gaq .linetitlecontact .h4titlecontact {
  color: var(--white-color);
}

.gaq p {
  color: var(--white-color);
  margin-bottom: 20px;
}

.gaqlistitemcontact li i {
  color: var(--dark-color);
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.gaqlistitemcontact li a {
  color: var(--white-color);
}

.gaqlistitemcontact li {
  margin-bottom: 20px;
}

hr {
  opacity: 0.6;
  width: 100%;
}

.gaqlistitemcontact li:last-child {
  margin-bottom: 0;
}

.containermapcontact {
  width: 100%;
  padding-right: 15px;
  padding-left: 65px;
  margin-left: auto;
  margin-right: auto;
  background: var(--white-light-color);
}

.contactboxwrapcontact {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
}

.contactboxwrapcontact::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: var(--white-light-color);
  z-index: -1;
}

.contactboxcontact {
  margin-bottom: 40px;
}

.contactboxcontact .linetitlecontact {
  margin-bottom: 20px;
}

.contactboxcontact .linetitlecontact .h4titlecontact {
  color: var(--dark-color);
  text-transform: uppercase;
  font-weight: bold;
}

.contactboxcontact ul li {
  display: block;
  margin-bottom: 15px;
}

.contactboxcontact ul li a {
  display: inline-flex;
  align-items: center;
  color: var(--dark-color);
}

.contactboxcontact ul li span.icon {
  width: 34px;
  height: 34px;
  background: var(--white-color);
  flex: 0 0 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 15px;
  color: var(--yellow-color);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.contactmapboxcontact {
  width: 100%;
  height: 100%;
  position: relative;
}

.contactmapboxcontact iframe {
  position: absolute;
  top: 0;
  left: -30px;
  width: calc(100% + 430px);
  height: 100%;
  z-index: 1;
}
