form {
  width: 360px;
  height: 50;
  margin:  auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  color: rgb(62, 62, 62) !important;
  background-color: white !important;
  /* text-align: center; */
  border-radius: 2rem;
  flex-direction: column;
  /* background-color: #a50a0a; */
  color: #c7c8c9;
  margin-top: 50px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid rgb(118, 118, 118);
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(226, 194, 76) !important;
  color: white;
  cursor: pointer;
}

.form-links {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  color:  rgb(226, 194, 76) !important;
}

.form-links a {
  text-decoration: none;
}
.remember-me{
  display: flex;
  flex-direction: row;
  margin: auto;
}
.user-photo{
  width: 400px;
  height: 400px;
}
.Test{
  width: 300px;
  height: 400px
}
.ico{
  margin-left: 60%;
}
.ico1{
  display: flex;
  flex-direction: row;
  letter-spacing: 2px;

}
.ic{
  margin-left: 10%;
}
.seen{
   height: 100vh; 
  width: 100vw;
}
.form-left {
    margin: auto;
    width: 80%;
}