.dashboard {
  display: flex;
  justify-content: space-between;
  position: fixed;

}

.sidebar {
  background-color: #eaecef;
  width: 250px; 
  padding: 20px;
  height: 100vh;
   position: fixed;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.sidebar h2 {
  font-size: 24px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  
}

.content {
  flex-grow: 1;
  padding: 20px;
   position: fixed;
}
.t1 img{
    display: flex;
    border-radius: 600px;
    height: 40px;
}
.t2{
    display: flex;
    flex-direction: row;
}
/* Dashboard.css */

/* Add space between the icon and text */
ul li {
  display: flex;
  align-items: center; /* Align vertically in the middle */
  margin-bottom: 10px; /* Add margin between list items */
}

/* Style the icon */
ul li svg {
  margin-right: 10px; /* Adjust the right margin as needed */
}

/* Style the link text */
ul li a {
  text-decoration: none;
  color: #000; /* Set your desired text color */
}
.logoutdashboard{
  display: flex;
  align-items: end;
}
/* Add responsive styles for screens smaller than 768px */
@media (max-width: 767px) {
  .sidebar {
    width: 100%; /* Take full width on small screens */
    border-radius: 0; /* Remove border-radius */
  }

  .content {
    padding: 20px; /* Add padding for small screens */
  }
}

/* Add more media queries for larger screens if needed */
